h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.left-side {
    width: 200px;
    margin-right: 300px;
    margin-left: 50px;
}

.right-side {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.left-side div {
    margin-bottom: 10px;
}

.row {

    display: flex;
    justify-content: center;
    margin-bottom: 5px;
     font-size: 26px;
  color: #fff;
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px black;
}

.square {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
}

.right-side button {
    margin-top: 10px;
}

.square-group2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }

  #slot2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #slot4 {
    margin-right: 100px;
  }

  #slot1 {
    margin-right: 140px;
  }

  #slot3 {
    margin-top: 20px;
  }
  
  .row2 {
    display: flex;
    justify-content: center;
  }
  
  .square2 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
  }

  .square2selected {
    width: 50px;
    height: 50px;
    border: 2px solid red;
    margin: 5px;
  }

  #bigsqr {
    width: 70px;
    height: 70px;
    margin-right: 50px;
    position: relative;
    top: -10px;
}

.card {
  display: inline-block;
  width: 120px;
  height: 160px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #222;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 70%;
  height: 120px;
  object-fit: cover;
}

.card-label {
  font-size: 14px;
  padding: 5px;
  color: #fff;
}


.game-title {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 8px #000;
  letter-spacing: 2px;
  font-weight: bold;
}


.username {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  text-shadow: 1px 1px 6px #000;
  font-style: italic;
}


.section-title {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 6px black;
}

.subsection-title {
  font-size: 26px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px black;
}


